<!-- job_form.html -->
<nav>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<li class="nav-item">
    <a class="nav-link" style="color:red;" href="/user_login">Logout</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" style="color:red;" href='/'>home</a>
</li>
<li class="nav-item">
    <a class="nav-link" style="color:red;" href='/jbf'>job_list</a>
  </li>
</nav>

  <h1>fill urs imfo</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">submit</button>
  </form>
